## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Import dependencies.
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats
import requests
import gmaps

g_key = "AIzaSyDZ7PG3tVJsvsybS6ST2sefVhG0JQKl0j8"

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../weather_data/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Hilo,US,2021-02-15 02:56:52,19.7297,-155.0900,80.60,69,20,14.97,few clouds
1,1,Raudeberg,NO,2021-02-15 02:56:52,61.9875,5.1352,41.00,57,100,24.00,light rain
2,2,Ushuaia,AR,2021-02-15 02:56:52,-54.8000,-68.3000,48.20,66,75,5.88,broken clouds
3,3,Mataura,NZ,2021-02-15 02:56:52,-46.1927,168.8643,59.00,70,96,14.00,overcast clouds
4,4,Maniitsoq,GL,2021-02-15 02:56:53,65.4167,-52.9000,4.08,88,77,12.33,broken clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
print("What is your minimum temperature preference?")
min_temp = float(input("min_temp: "))

print("What is your maximum temperature preference?")
max_temp = float(input("max_temp: "))

What is your minimum temperature preference?
min_temp: 65
What is your maximum temperature preference?
max_temp: 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]

preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Hilo,US,2021-02-15 02:56:52,19.7297,-155.0900,80.60,69,20,14.97,few clouds
7,7,Harper,LR,2021-02-15 02:56:53,4.3750,-7.7169,78.19,89,79,5.88,broken clouds
10,10,Port Blair,IN,2021-02-15 02:56:54,11.6667,92.7500,81.52,73,77,8.32,broken clouds
11,11,Mitsamiouli,KM,2021-02-15 02:56:54,-11.3847,43.2844,81.97,80,84,13.53,broken clouds
12,12,Quatre Cocos,MU,2021-02-15 02:55:08,-20.2078,57.7625,77.00,94,40,4.61,scattered clouds
15,15,Rikitea,PF,2021-02-15 02:56:54,-23.1203,-134.9692,79.86,77,68,15.43,light rain
17,17,Kapaa,US,2021-02-15 02:52:20,22.0752,-159.3190,78.80,73,1,11.50,clear sky
19,19,Mar Del Plata,AR,2021-02-15 02:56:56,-38.0023,-57.5575,69.01,100,75,2.30,broken clouds
23,23,Hirara,JP,2021-02-15 02:56:56,24.8000,125.2833,73.40,53,40,13.80,scattered clouds
24,24,Rio Grande,BR,2021-02-15 02:56:05,-32.0350,-52.0986,68.00,97,100,3.65,light rain

In [5]:
# 4a. Determine if there are any empty rows.
clean_preferred_cities_df = preferred_cities_df.dropna()
clean_preferred_cities_df.count()

City_ID                313
City                   313
Country                313
Date                   313
Lat                    313
Lng                    313
Max Temp               313
Humidity               313
Cloudiness             313
Wind Speed             313
Current Description    313
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty row 
hotel_df = clean_preferred_cities_df[["City", "Country","Max Temp",  "Current Description","Lat", "Lng"]].copy()

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Hilo,US,80.60,few clouds,19.7297,-155.0900,
7,Harper,LR,78.19,broken clouds,4.3750,-7.7169,
10,Port Blair,IN,81.52,broken clouds,11.6667,92.7500,
11,Mitsamiouli,KM,81.97,broken clouds,-11.3847,43.2844,
12,Quatre Cocos,MU,77.00,scattered clouds,-20.2078,57.7625,
15,Rikitea,PF,79.86,light rain,-23.1203,-134.9692,
17,Kapaa,US,78.80,clear sky,22.0752,-159.3190,
19,Mar Del Plata,AR,69.01,broken clouds,-38.0023,-57.5575,
23,Hirara,JP,73.40,scattered clouds,24.8000,125.2833,
24,Rio Grande,BR,68.00,light rain,-32.0350,-52.0986,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # 6c. Get latitude and longitude from DataFrame
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"    

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
            print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df['Hotel Name'].replace('', np.nan, inplace=True)
hotel_df.dropna(subset=['Hotel Name'], inplace=True)
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Hilo,US,80.60,few clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
7,Harper,LR,78.19,broken clouds,4.3750,-7.7169,Screensaver
10,Port Blair,IN,81.52,broken clouds,11.6667,92.7500,Welcomhotel Bay Island Port Blair
11,Mitsamiouli,KM,81.97,broken clouds,-11.3847,43.2844,Foyer ADM
12,Quatre Cocos,MU,77.00,scattered clouds,-20.2078,57.7625,Emeraude Beach Attitude Hotel

In [10]:
# 8a. Create the output File (CSV)WeatherPy_vacation.csv
output_data_file = "weatherpy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))